@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-primary: #FF6201;
    --color-secondary: #F3B700;
    --color-white: #FFF3CD;
    --color-black: #241B00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary);
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
}

.card {
    background-color: var(--color-secondary);
    max-width: min(70vw, 900px);
    border-radius: 25px;
    overflow: hidden;
}

.card>*:not(:first-child) {
    padding: 1rem;
}

img {
    grid-area: img;
    max-width: 100%;
}

nav {
    grid-area: nav;
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 2rem;
    padding-top: 5rem;
    min-width: 70vw;
    top: 0;
    right: 0;
    background-color: red;
    opacity: 0.7;
    min-height: 100vh;
    font-size: 2rem;
    border-radius: 25px 0 0 25px;
    z-index: 1000;
}

.active {
    display: flex;
}


nav a {
    text-decoration: none;
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;

    font-weight: 800;
}

.navbartoggle {
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 10001;
}

main {
    grid-area: main;
}


section {
    margin-bottom: 1rem;
}

/* ================
    PAGE SPECIFIC
================= */

.main--homepage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap : 2rem;
    padding : 4rem;

}

.main--homepage p {
    position:  relative;
    font-weight: 200;
    text-align: justify;
    text-indent: 3rem;
    font-size: 1.2rem;
    font-style: italic;
    color: var(--color-white);
    margin-bottom: 1.3rem;
}

.main--homepage .quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 2rem;
}

.main--homepage .quote span {
    text-decoration: underline
}

.main--homepage p:before {
    position: absolute;
    content : '“';
    top: 25px;
    font-size: 8rem;
    text-indent: -3rem;
    line-height: 1rem;
    font-weight: 300;
}
.main--homepage p:after {
    position: absolute;
    content : '”';
    bottom: -40px;
    font-size: 8rem;
    text-indent: 10px;
    line-height: 0rem;
    font-weight: 300;
}

.main--homepage button {
    position: relative;
    font-size: 1rem;
    background-color: var(--color-primary);
    padding: .8em 1em;
    border : 5px solid var(--color-white);
    margin-top: 1rem;
    padding: 1rem;
    text-transform: uppercase;
    color : var(--color-white);
    transform: skew(-20deg);
    font-weight: 800;
    white-space: nowrap;
    cursor: pointer;
}


.main--homepage button:hover {
    transform: translateY(-5px) skew(-20deg);
    box-shadow: 0 15px 10px  -10px gray;
}


/* ================
    FORMATION PAGE
================= */

.body--formationpage {
    background-image: url("assets/fondvintage2.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

.main--formationpage section h2{
    padding: 0.5rem;
    text-shadow: var(--color-black) 0.1em 0.1em;
}

.main--formationpage section p {
    padding:2px;
    font-style: italic;
}


/* Yann experience page*/

.main--experience {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 200px;
    grid-template-areas:
        "text ulnav"
        "text ulnav";
}

.text--experience {
    grid-area: text;
}

.ul--experience {
    list-style: none;
    grid-area: ulnav;
    display: flex;
    flex-direction: column;
    justify-content: space-around;



}

@media screen and (min-width:35em) {
    body {
        align-items: center;
    }

    .card {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows:300px 1fr;
        grid-template-areas: 
            "img main"
            "nav main";
        min-height: 60vh;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        position: relative;
        background-color: unset;
        min-height: unset;
        max-width: unset;
        min-width: unset;
        padding-top: 2rem;
        padding-bottom: 2rem;
        transform: translateX(0%);
    }

    .navbartoggle {
        display: none;
    }

    .main--homepage button {
        font-size: 2rem;
    }

    .main--homepage .quote {
        margin-inline: 1rem;
    }

    /* Formation Page */

/* Placement Main page Formation*/

.main--formationpage{
    padding-top: 125px !important;
}

    /*scroll bar*/

.main--formationpage {
    width: 50vh;
    max-height: 50vh;
    overflow-y: scroll;
  }

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ff6201 #f3b720;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #f3b720;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ff6201;
    border-radius: 25px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #FFF3CD;
  }
}