@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-primary: #FF6201;
    --color-secondary: #F3B700;
    --color-white: #FFF3CD;
    --color-black: #241B00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(circle, #f4dc43, #f9c122, #fda400, #ff8500, #ff6201);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 27px 5px rgba(163,108,6,0.4);
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
}
/* Affichage d'accueil*/
.pageAccueil{
    background-image: radial-gradient(circle, #f4dc43, #f9c122, #fda400, #ff8500, #ff6201);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    gap: 2rem;
    margin-top: -2rem;
    margin-bottom: -2rem;
    padding: 5rem 2rem 5rem 2rem;

}
.pageAccueil .bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1fr;
    height: 8vh;
    color: var(--color-white);
    box-shadow: 10px 10px 5px 0px #222121;
    border-radius: 20pt;
    text-decoration: none;
}
.pageAccueil h3 {
    width: 2fr;
    height: 10vh;
    background-color: #F3B700;
}
.pageAccueil .enter {
    background-color: #7D8500;
}
.pageAccueil a {
    background-color: #C4515C;
}
.pageAccueil img{
    display: none;
}

.card {
    background-color: var(--color-secondary);
    max-width: min(70vw, 900px);
    border-radius: 25px;
    overflow: hidden;
}


.card>*:not(:first-child) {
    padding: 1rem;
}

nav {
    grid-area: nav;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 5rem;
    min-width: 70vw;
    top: 0;
    right: 0;
    background-color: #990000;
    opacity: 0.7;
    min-height: 100vh;
    font-size: 2rem;
    border-radius: 25px 0 0 25px;
    transform: translateX(100%);
    transition: 300ms transform ease-in-out;
    z-index: 1000;
}

.active {
    transform: translateX(0);
}

.navbartoggle{
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 10001;
}

nav a {
    text-decoration: none;
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;

    font-weight: 800;
}

.navbartoggle {
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 10001;
}


main {
    grid-area: main;
}


section{

    margin-bottom: 1rem;
}

/* ================
    PAGE SPECIFIC
================= */

.main--homepage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;

}

.main--homepage p {
    position: relative;
    font-weight: 200;
    text-align: justify;
    text-indent: 3rem;
    font-size: 1.2rem;
    font-style: italic;
    color: var(--color-white);
    margin-bottom: 1.3rem;
}

.main--homepage .quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 2rem;
}

.main--homepage .quote span {
    text-decoration: underline
}

.main--homepage p:before {
    position: absolute;
    content: '“';
    top: 25px;
    font-size: 8rem;
    text-indent: -3rem;
    line-height: 1rem;
    font-weight: 300;
}

.main--homepage p:after {
    position: absolute;
    content: '”';
    bottom: -40px;
    font-size: 8rem;
    text-indent: 10px;
    line-height: 0rem;
    font-weight: 300;
}

.main--homepage button {
    position: relative;
    background-color: var(--color-primary);
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    white-space: nowrap;
    color: var(--color-white);
    transform: skew(-20deg);
    border: 5px solid var(--color-white);
    cursor: pointer;
}


.main--homepage button:hover {
    transform: translateY(-5px) skew(-20deg);
    box-shadow: 0 15px 10px -10px gray;
}

.modal {
    position: fixed;
    inset: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width : 90vw;
    background-color: var(--color-primary);
    border-radius: 25px;
    border: 10px solid var(--color-secondary);
    padding: 1rem;
}

.modal svg {
    position: absolute;
    right: 10px;
    fill: var(--color-secondary);
    cursor: pointer;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap : .3rem;
    margin-top: 2rem;
}

.modal form input,
.modal form textarea {
    padding: .8rem;
    border-radius: 25px;
    border: 5px solid var(--color-secondary);
    background-color: var(--color-white);
    color : var(--color-secondary)
}

.modal input::placeholder,
.modal textarea::placeholder {
    color : var(--color-secondary)

}

.modal::backdrop {
    background : grey;
    opacity: .8;
}

.modal button {
    margin-inline: 2rem;
}

.sent-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Hobbie Page*/

.main--hobbie h2{
        border: 10px inset #FF6201;
        border-radius: 11px;
        background-color: ;
}

.main--hobbie h2 {
    border: 10px inset #FF6201;
    border-radius: 11px;
}

audio {
    visibility: hidden;
}

/* ================
    FORMATION PAGE
================= */

.main--formationpage {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main--formationpage section h2{
    padding: 0.5rem;
    text-shadow: var(--color-black) 0.1em 0.1em;
}

.main--formationpage section p {
    padding: 2px;
    font-style: italic;
}


/* Yann experience page*/

.main--experience {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 200px;
    grid-template-areas:
        "text ulnav"
        "text ulnav";
}


.text--experience {
    grid-area: text;
    max-height: 60vh;
    overflow: scroll;
    margin-right: 20px;
    font-size: 0.55rem;
    text-align: justify;
}

.ul--experience {
    list-style: none;
    grid-area: ulnav;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 30px;
    box-shadow: 15px 15px 23px -3px #ff6201;
    z-index: 999;

}

.ul--experience.active {
    display: flex;
}

.date--experience {
    top: 200px;
    right: 10px;
    position: absolute;
    color: black;
}

button.date1,
button.date2,
button.date3,
button.date4,
button.date5,
button.date6 {
    background-color: #ff6201;
    border-color: #ff6201;
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: rgba(0%, 0%, 0%, 0);
    border-radius: 100px;
    border: 2px solid #FFF3CD;
    border-width: 3px 3px 3px 3px;
    padding: 3px 10px 2px 10px;
    color: #FFF3CD;
    font-size: 12px;
    font-family: Pretendo;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1px
}



@media screen and (min-width:35em) {
    body {
        align-items: center;
    }
    .pageAccueil{
        min-height: 100vh;
        min-width: 100vw;
        background-color: var(--color-primary);
        color: var(--color-white);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        padding: 2rem;
    }

    .pageAccueil h3 {
        grid-area: 1 / 1 / 2 / 3;
        width: 2fr;
        height: 10vh;
    }
    .pageAccueil .enter {
        grid-area: 2 / 1 / 3 / 2;
    }
    .pageAccueil a {
        grid-area: 3 / 1 / 4 / 2;
    }
    .pageAccueil img{
        display: flex;
        grid-area: 2 / 2 / 7 / 3;
        max-width: 1fr;
        max-height: 70vh;
    }
    .card {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 300px 1fr;
        grid-template-areas:
            "img main"
            "nav main";
        min-height: 60vh;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        position: relative;
        background-color: unset;
        min-height: unset;
        max-width: unset;
        min-width: unset;
        padding-top: 2rem;
        padding-bottom: 2rem;
        transform: translateX(0%);
    }

    .navbartoggle {
        display: none;
    }

    .date--experience {
        display: none;
    }

    .date {
        display: none;
    }

    .text--experience {
        min-height: 55vh;
        text-align: justify;
        margin-right: 20px;
        overflow: scroll;
        max-height: 5vh;

    }

    .ul--experience {
        min-height: 55vh;
    }

    .main--homepage button {
        font-size: clamp(1rem, 2vw, 2rem);
    }

    .main--homepage .quote {
        margin-inline: 1rem;
    }
   
    button.date1,
    button.date2,
    button.date3,
    button.date4,
    button.date5,
    button.date6 {
        background-color: #ff6201;
        border-color: #ff6201;
        backface-visibility: hidden;
        position: relative;
        cursor: pointer;
        display: inline-block;
        white-space: nowrap;
        background: rgba(0%, 0%, 0%, 0);
        border-radius: 100px;
        border: 2px solid #FFF3CD;
        border-width: 3px 3px 3px 3px;
        padding: 3px 10px 2px 10px;
        color: #FFF3CD;
        font-size: 12px;
        font-family: Pretendo;
        font-weight: 200;
        font-style: normal;
        letter-spacing: 1px
    }

    .modal {
        width: 40vw;
        height: 45vw;
    }

    /* Formation Page */

/* Placement Main page Formation*/

/*.main--formationpage{
    padding-top: 75px !important;
    padding-bottom: 75px !important;
}

    /*scroll bar*/

.main--formationpage {
    width: 50vh;
    max-height: 50vh;
    overflow-y: scroll;
  }

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ff6201 #f3b720;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #f3b720;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ff6201;
    border-radius: 25px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #FFF3CD;
  }
